{{> head
title="Disclaimer and Privacy Policy"
description="Elven Tools - Disclaimer and Privacy Policy"
ogTitle="Elven Tools - Disclaimer and Privacy Policy"
ogDescription="Elven Tools - Disclaimer and Privacy Policy"
ogUrl="https://www.elven.tools/disclaimer-and-privacy-policy"
twitterTitle="Elven Tools - Disclaimer and Privacy Policy"
twitterDescription="Elven Tools - Disclaimer and Privacy Policy"
twitterUrl="https://www.elven.tools/disclaimer-and-privacy-policy"
}}


<div class="container">
    <h1>About</h1>
    <p>Elven Tools is a promotional website for the Open Source tooling around the NFT and Elrond blockchain.</p>
    <p>For now the toolset includes three parts</p>
    <ul>
        <li>The custom Smart Contract (not audited!).</li>
        <li>The CLI tool - allows interacting with the Smart Contract.</li>
        <li>The landing page template - can be used as the base for the NFT launch website. (Comming soon!)</li>
    </ul>
    <p>Elven Tools is still a product where there is a lot to improve. It is why you should use it for production only
        when you understand the code and know what you are doing.</p>
    <p>The plans are to provide a lot more useful tools and Smart Contract code because I strongly believe in this tech
        and I want to be part of it. Of course, it all depends on how much time I will have. I work with Elrond in my free
        time. I don't have any interest in making money on it. But of course, I need to eat ;) So I spend most of my
        time doing commercial work unrelated to the blockchain and Elrond. If you would like to see more Open Source
        stuff from me, consider supporting me with a small amount of EGLD. Who knows, maybe someday it will make me a
        full-time Elrond developer, and everyone will benefit from that ;) Here is my wallet address:
        <code>erd1qp2mm35kl65fvzzn98tgfuswrypq8xjgqpqc22az4jm6xt48aljsx5f8gw</code>
    </p>
    <p>The next important thing is your support. Without it, I won't know what you need. Don't be afraid to ask about
        anything. I had a lot of interesting chats with people who were not so techy, but they told me about many
        excellent features. Without them, I would probably even haven't thought about the stuff. So please leave your
        question in the GitHub repositories or on Twitter and Telegram. Write e-mails to me. Please do :)
    </p>
    <p>I would also like to create some educational content around my tools, but not only. Because we all are in the
        same ecosystem, if we can teach and support each other, we benefit from that. Try to embrace every tooling and
        service from the Elrond team and especially from the community. Please support them! Compete healthily!</p>
    <h1>Disclaimer (it must be here, sorry)</h1>
    <p>The website and the tools which it promotes are shared as they are. There are no guarantees that everything works
        as it should. Use at your own risk, only when you know what you are doing!</p>
    <p>I will not be liable to You or anyone else for any decision made or action taken in reliance on the information
        given by the Service or for any consequential, special or similar damages, even if advised of the possibility of
        such damages.</p>
    <h1>Privacy Policy</h1>
    <p>The website doesn't track or collect any users' data. I don't use analytics tools, I don't care. If you see
        something wrong regarding some third-party tools used
        here (mostly CDNs), please report it immediately. It shouldn't happen.</p>
    <h1>Contact me</h1>
    <ul>
        <li><a class="common-link" href="https://www.julian.io">www.julian.io</a></li>
        <li><a class="common-link" href="https://twitter.com/JulianCwirko">Twitter</a></li>
        <li><a class="common-link" href="https://t.me/JulianCwirko">Telegram</a></li>
        <li>julian.cwirko@gmail.com</li>
    </ul>
</div>

{{> footer}}