{{> head
title="Disclaimer and Privacy Policy"
description="Elven Tools is a promotional website for the Open Source tooling around the NFT/SFT and MultiversX blockchain."
ogTitle="Elven Tools - Disclaimer and Privacy Policy"
ogDescription="Elven Tools is a promotional website for the Open Source tooling around the NFT/SFT and MultiversX
blockchain."
ogUrl="https://www.elven.tools/disclaimer-and-privacy-policy.html"
twitterTitle="Elven Tools - Disclaimer and Privacy Policy"
twitterDescription="Elven Tools is a promotional website for the Open Source tooling around the NFT/SFT and MultiversX
blockchain."
twitterUrl="https://www.elven.tools/disclaimer-and-privacy-policy.html"
}}

<div class="container">
    <h1>About</h1>
    <p>
        Elven Tools offers a suite of Open Source tools designed for use with the NFT and MultiversX blockchain
        platforms. Currently, the toolkit comprises three main components.</p>
    <p>For now the toolset includes three parts</p>
    <ul>
        <li>Smart contracts for NFTs and SFTs.</li>
        <li>The CLI tool - allows interacting with the Smart Contract and aggregating data, like collection owners.</li>
        <li>The Minter Dapp - can be used as the base for the NFT launch website (NextJS-based).</li>
    </ul>
    <p>Elven Tools is still a product where there is a lot to improve. It is why you should use it for production only
        when you understand the code and know what you are doing.</p>
    <p>The next important thing is your feedback. Without it, I won't know what you need. Don't be afraid to ask about
        anything. I had a lot of interesting chats with people who were not so techy, but they told me about many
        good features. Without them, I would probably even haven't thought about the stuff. So please leave your
        question in the GitHub repositories or on Twitter. Write e-mails to me. Please do :)
    </p>
    <h1>Disclaimer</h1>
    <p>The website and the tools which it promotes are shared as they are. There are no guarantees that everything works
        as it should. Use at your own risk, only when you know what you are doing!</p>
    <p>I will not be liable to You or anyone else for any decision made or action taken in reliance on the information
        given by the Service or for any consequential, special or similar damages, even if advised of the possibility of
        such damages.</p>
    <h1>Privacy Policy</h1>
    <p>The website is committed to user privacy and transparency. It does not employ any form of data tracking or
        collection mechanisms, ensuring that users' information remains entirely private. Additionally, no analytics
        tools are utilized, reaffirming our dedication to maintaining a secure and confidential online environment for
        all visitors.</p>
    <h1>Contact me</h1>
    <ul>
        <li><a class="common-link" href="https://www.julian.io">www.julian.io</a></li>
        <li><a class="common-link" href="https://twitter.com/theJulianIo">Twitter</a></li>
        <li>julian.cwirko@gmail.com</li>
    </ul>
    <h1>Check other tools</h1>
    <ul>
        <li><a class="common-link" href="https://www.buildo.dev">Buildo.dev - MultiversX app that helps with blockchain
                interactions</a></li>
        <li><a class="common-link" href="https://www.elvenjs.com">Elven.js - Browser only MyltiversX SDK</a></li>
        <li><a class="common-link" href="https://www.useelven.com">useElven - React hooks for MultiversX blockchain</a>
        </li>
        <li><a class="common-link" href="https://github.com/xdevguild/nextjs-dapp-template">Nextjs Dapp Template</a>
        </li>
    </ul>
</div>

{{> footer}}