{{> head
title="Docs"
description=""
ogTitle="Elven Tools - NFTs on the Elrond Blockchain"
ogDescription=""
ogUrl="https://www.elven.tools/docs.html"
twitterTitle="Elven Tools - NFTs on the Elrond Blockchain"
twitterDescription=""
twitterUrl="https://www.elven.tools/docs.html"
fullWidth=true
}}

<div class="container-full-width docs-layout" data-js-doc-content>
  {{> docs-sidebar-left}}
  <section class="docs-content docs-home">
    <h1>Elven Tools jump start!</h1>
    <p>

      {{!-- TODO: --}}

      1. Quick walkthrough - how to use it
      2. YT new video
      3. without details about how to work with it locally, this will land in separate page
     
    </p>
  </section>
</div>

{{> footer docs=true}}