{{> head
title="NFTs on the Elrond Blockchain"
description="Open Source toolset for launching NFTs collections on the Elrond blockchain."
ogTitle="Elven Tools - NFTs on the Elrond Blockchain"
ogDescription="Open Source toolset for launching NFTs collections on the Elrond blockchain."
ogUrl="https://www.elven.tools"
twitterTitle="Elven Tools - NFTs on the Elrond Blockchain"
twitterDescription="Open Source toolset for launching NFTs collections on the Elrond blockchain."
twitterUrl="https://www.elven.tools"
}}

<div class="container">
  {{!-- <div class="docs-info-box docs-box-centered"><strong>(31 Mar UTC)</strong> Today repositories will be moved to the Elven Tools GitHub
    organization.<br>It should go smoothly. If you encounter any problems, please try again later.</div> --}}
  <div class="homepage-lead">
    <div class="homepage-lead-subtitle">
      Open Source toolset for launching NFTs collections on the <a href="https://elrond.com/">Elrond</a> blockchain.
    </div>
    <h1>Deploy and mint<span class="homepage-lead-accent">!</span></h1>
    <div class="homepage-docs-button-section">
      <a href="/docs/jump-start.html">Documentation</a>
    </div>
  </div>
  <div class="homepage-lead-columns">
    <div class="homepage-lead-column">
      <div class="homepage-lead-column-icon-wrap"><a href="/docs/sc-introduction.html" class="homepage-lead-column-icon"
          title="Elven Tools Smart Contract - custom Smart Contract for minting and selling Elrond NFTs"><img
            height="117px" width="117px" src="{{relativePath 'assets/images/sc.svg'}}"
            alt="Elven Tools Smart Contract" /></a></div>
      <div class="homepage-lead-column-title">
        <h2><a href="/docs/sc-introduction.html">Smart Contract</a></h2>
      </div>
      <div class="homepage-lead-column-desc">It is the first version of a custom NFT Smart Contract for minting. It is a
        candy machine style of minting. It will let you run the proper NFT launch. If you need you will be able to
        modify it. It is open-source code. There will also be a raffle version. Stay tuned!</div>
      <div class="homepage-lead-column-btns">
        <a href="/docs/sc-introduction.html" class="homepage-lead-column-btn"
          title="Elven Tools Smart Contract - custom Smart Contract for minting and selling Elrond NFTs">More</a>
        <a href="https://github.com/ElvenTools/elven-nft-minter-sc" class="homepage-lead-column-btn">GitHub</a>
      </div>
    </div>
    <div class="homepage-lead-column">
      <div class="homepage-lead-column-icon-wrap"><a href="/docs/cli-introduction.html"
          class="homepage-lead-column-icon"
          title="Elven Tools CLI - CLI for simplifying minting and selling Elrond NFTs"><img height="117px"
            width="117px" src="{{relativePath 'assets/images/cli.svg'}}" alt="Elven Tools CLI" /></a></div>
      <div class="homepage-lead-column-title">
        <h2><a href="/docs/cli-introduction.html">CLI tool</a></h2>
      </div>
      <div class="homepage-lead-column-desc">The CLI tool will help with the proper configuration, deployment, and
        interactions with the Smart Contract. It allows you to set up the project and also mint the tokens. You will
        also get additional tools, like, for example, the possibility to save collection NFT owners' addresses.</div>
      <div class="homepage-lead-column-btns">
        <a href="/docs/cli-introduction.html" class="homepage-lead-column-btn"
          title="Elven Tools CLI - CLI for simplifying minting and selling Elrond NFTs">More</a>
        <a href="https://github.com/ElvenTools/elven-tools-cli" class="homepage-lead-column-btn">GitHub</a>
      </div>
    </div>
    <div class="homepage-lead-column">
      <div class="homepage-lead-column-icon-wrap"><img height="117px" width="117px" class="homepage-lead-column-icon"
          src="{{relativePath 'assets/images/www.svg'}}" alt="Elven Tools Landing Page" /></div>
      <div class="homepage-lead-column-title">
        <h2><a href="/docs/landing-page.html">Landing Page</a></h2>
      </div>
      <div class="homepage-lead-column-desc">The landing page will serve as a default launch website. It will be based
        on the Next framework, and it will be equipped with valuable widgets and guides on how to safely and with
        performance in mind run the launch website.</div>
      <div class="homepage-lead-column-btns">
        <a href="/docs/landing-page.html" class="homepage-lead-column-btn">ETA: 08 Apr 2022</a>
      </div>
    </div>
  </div>
  <div class="homepage-code-try">
    <h3 class="homepage-code-try-header">Try it now!</h3>
    <p class="homepage-code-try-desc">By default, it will deploy the Smart Contract from its repository, and all will
      happen on the
      devnet! So you can try it out safely.<br>
      What you need to start is a devnet account with some funds on it.<br>
      Then enter the terminal commands in order displayed below:</p>

    <div class="homepage-code-example">
      1. npm install elven-tools@latest -g<br>
      2. elven-tools derive-pem<br>
      3. elven-tools deploy nft-minter<br>
      4. elven-tools nft-minter issue-collection-token<br>
      5. elven-tools nft-minter set-roles<br>
      6. elven-tools nft-minter shuffle<br>
      7. elven-tools nft-minter start-minting<br>
      8. elven-tools nft-minter mint
    </div>

    <div class="homepage-docs-button-section">
      <a href="/docs/jump-start.html" title="Elven Tools Jump Start!">Learn more</a>
    </div>
  </div>
</div>

{{> footer}}