{{> head
title="NFTs on the Elrond Blockchain"
description=""
ogTitle="Elven Tools - NFTs on the Elrond Blockchain"
ogDescription=""
ogUrl="https://www.elven.tools"
twitterTitle="Elven Tools - NFTs on the Elrond Blockchain"
twitterDescription=""
twitterUrl="https://www.elven.tools"
}}

<div class="container">
  <div class="homepage-lead">
    <div class="homepage-lead-subtitle">
      Open Source toolset for the launches of NFT collections on the <a href="https://elrond.com/">Elrond</a>
      blockchain.
    </div>
    <h1>Deploy and mint<span class="homepage-lead-accent">!</span></h1>
    <div class="homepage-docs-button-section">
      <a href="/docs.html">Documentation</a>
    </div>
  </div>
  <div class="homepage-lead-columns">
    <div class="homepage-lead-column">
      <div class="homepage-lead-column-icon-wrap"><img class="homepage-lead-column-icon"
          src="{{relativePath 'assets/images/sc.svg'}}" alt="Elven Tools Smart Contract" /></div>
      <div class="homepage-lead-column-title">
        <h2>Smart Contract</h2>
      </div>
      <div class="homepage-lead-column-desc">It is the first version of a custom NFT Smart Contract for minting. It is a
        candy machine style of minting. It will let you run the proper NFT launch. If you need you will be able to
        modify it. It is open-source code. There will also be a raffle version. Stay tuned!</div>
      <div class="homepage-lead-column-btns">
        <a href="/docs/sc-introduction.html" class="homepage-lead-column-btn">More</a>
        <a href="https://github.com/juliancwirko/elven-nft-minter-sc" class="homepage-lead-column-btn">GitHub</a>
      </div>
    </div>
    <div class="homepage-lead-column">
      <div class="homepage-lead-column-icon-wrap"><img class="homepage-lead-column-icon"
          src="{{relativePath 'assets/images/cli.svg'}}" alt="Elven Tools CLI" /></div>
      <div class="homepage-lead-column-title">
        <h2>CLI tool</h2>
      </div>
      <div class="homepage-lead-column-desc">The CLI tool will help with the proper configuration, deployment, and
        interactions with the Smart Contract. It allows you to set up the project and also mint the tokens. Let's go!
        You can start almost without any coding skills. You will only need the Node environment set up.</div>
      <div class="homepage-lead-column-btns">
        <a href="/docs/cli-tool.html" class="homepage-lead-column-btn">More</a>
        <a href="https://github.com/juliancwirko/elven-tools-cli" class="homepage-lead-column-btn">GitHub</a>
      </div>
    </div>
    <div class="homepage-lead-column">
      <div class="homepage-lead-column-icon-wrap"><img class="homepage-lead-column-icon"
          src="{{relativePath 'assets/images/www.svg'}}" alt="Elven Tools Landing Page" /></div>
      <div class="homepage-lead-column-title">
        <h2>Landing Page</h2>
      </div>
      <div class="homepage-lead-column-desc">The landing page will serve as a default launch website. It will be based
        on the Next framework, and it will be equipped with valuable widgets and guides on how to safely and with
        performance in mind run the launch website.</div>
      <div class="homepage-lead-column-btns">
        <span class="homepage-lead-column-btn disabled">Comming soon!</span>
      </div>
    </div>
  </div>
  <div class="homepage-code-try">
    <h3 class="homepage-code-try-header">Try it now!</h3>
    <p class="homepage-code-try-desc">By default, it will deploy the Smart Contract from its repository, and all will happen on the
      devnet! So you can try it out safely.<br>
      What you need to start is a devnet account with some funds on it.</p>
    <img class="homepage-code-example" src="{{relativePath 'assets/images/carbon.svg'}}" alt="Elven Tools code demo" />
    <div class="homepage-docs-button-section">
      <a href="/docs.html">Learn more</a>
    </div>
  </div>
</div>

{{> footer}}