<div class='docs-sidebar-left' data-js-docs-sidebar-left>
  <div class="docs-sidebar-left-header">Smart Contract</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='smart contract'
  }}
  <div class="docs-sidebar-left-header">CLI tool</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='cli tool'
  }}
  <div class="docs-sidebar-left-header">Landing page</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='landing page'
  }}
  {{!-- <div class="docs-sidebar-left-header">Articles / Learning</div> --}}
  {{!-- {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='articles'
  }} --}}
  <div class="docs-sidebar-left-header">Learning links</div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://www.julian.io/articles/elrond-blockchain.html" class="docs-articles-list-out-link"><i class="gg-link"></i> Playing with the Elrond Blockchain</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://www.julian.io/articles/elven-nft-tools.html" class="docs-articles-list-out-link"><i class="gg-link"></i> Tools for automated NFT monting</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://www.julian.io/articles/elrond-erdjs.html" class="docs-articles-list-out-link"><i class="gg-link"></i> Building NFT related CLI tool with Elrond's JavaScript SDK</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://www.julian.io/articles/elrond-smart-contracts.html" class="docs-articles-list-out-link"><i class="gg-link"></i> Smart Contract for Elrond</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://www.julian.io/articles/elrond-dapp-ui.html" class="docs-articles-list-out-link"><i class="gg-link"></i> Simple user interface for Elrond Smart Contract</a>
    </div>
  </div>
</div>
<div class="docs-sidebar-left-menu-icon" data-js-docs-sidebar-left-menu-icon>
  <i class="gg-details-more"></i>
</div>